.study{
    margin:auto;
}
img {
    border-radius: 40%;
    max-width: 300px;
    height: auto;
    float: right;
    margin-right: 1em;
  }
  .inactive {
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 10x 24px;
    width: 12%
}
.active {
    background-color: green;
    border-radius: 30px;
    color:white;
    padding: 10x 24px;
    width: 15%;
    
    
}

